	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-brand">
			<p id="eng">REST API</p>
		</div>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item mx-auto">
	        <a class="nav-link" href="/home">Home</a>      
	      </li>
	    </ul>
	    
	    <ul class="navbar-nav ml-auto text-center">	    
	    <% if(true) { //da modificare%>
	      	<li class="nav-item dropdown align-middle">
		        <a class="nav-link dropdown-toggle" href="#" id="logDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Accedi
		        </a>
		        <div class="dropdown-menu py-2 px-3 dropdown-menu-right" id="dropdownLog" aria-labelledby="logDropdown">
		          	<form name="logForm" class="px-auto ml-auto text-center" action="/login" method="post" onsubmit="return checkLogForm()">
						<input type="hidden" name="_csrf" value="<%= locals.csrf %>">
		          		<div class="form-group">
							<label for="userLog">Username</label>
							<input type="text" id="userLog" name="username" placeholder="Username" required> <br/>
							<span class="error" id="errorLogUser"></span>
						</div>
						<div class="form-group">
							<label for="passLog">Password</label> 
							<input type="password" id="passLog" name="password" placeholder="Password" required> <br/>
							<span class="error" id="errorLogPass"></span>
						</div>
		 				<input type="submit" value="Entra"> <br/>
					</form>
					<span id="errorLog"></span><br/>
		        </div>
		      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" data-toggle="modal" data-target="#signUpModal">Registrati</a>
	      </li>
	      <% } else { %>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<a class="dropdown-item" href="logout">Log out</a>
		        </a>
	      <% } %>
	    </ul>
	
	  </div>
	</nav>
	
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpLabel" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content bg-opacity color">
	      		<div class="modal-header">
					<h5 class="modal-title" id="signUpLabel">Registrati</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
	      		</div>
	      		<form name="signForm">
					<div class="modal-body mt-3">
						<div class="form-group">
							<input type="text" id="email" name="email" required>
							<label for="user">E-mail</label><br/>
							<span class="error" id="errorSignEmail"></span>				
						</div>
						<div class="form-group">
							<input type="text" id="user" name="username" required>
							<label for="user">Username</label><br/>
							<span class="error" id="errorSignUser"></span>				
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" required>
							<label for="password">Password</label><br/>
							<span class="error" id="errorSignPass"></span>
						</div>
						<span id="errorSign"></span><br/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" value="Registrati" class="btn btn-secondary">
					</div>
	      		</form>
	    	</div>
	  	</div>
	</div>

	<script src="/js/navbar.js"></script>
	